@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: 'VT323', monospace;
    font-size: large;
}

#game {
    display: grid;
    grid-template-columns: 70vw 30vw;
    grid-template-rows: 70vh 30vh;
    grid-template-areas:
        "terminal status"
        "inventory map";
    height: 100vh;
    width: 100vw;
}

#terminal {
    grid-area: terminal;
    background-color: rgb(0, 0, 0);
    color: rgb(35, 201, 63);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
        "terminal-output"
        "terminal-input-container";

}
#terminal-output {
    grid-area: terminal-output;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-mask-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 1) 7%);
    mask-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 1) 7%);
}
#terminal-input-container {
    grid-area: terminal-input-container;
    display: flex;
    width: 100%;
}
#terminal-input {
    border: none;
    outline: none;
    flex: 1;
    background-color: inherit;
    color: inherit;
    font-family: 'VT323', monospace;
    font-size: 1em;
}

#status {
    grid-area: status;
    display: flex;
    background-color: #00ff00;
    color: #fff;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr 4fr 1fr;
    grid-template-areas: 
        "stats"
        "effects"
        "skills"
        "allegience";
}
#stats {
    grid-area: stats;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #ff0;
}
#effects {
    grid-area: effects;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(226, 150, 63);
}
#skills {
    grid-area: skills;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(219, 97, 97);
}
#allegience {
    grid-area: allegience;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(33, 101, 141);
}

#inventory {
    grid-area: inventory;
    display: flex;
    background-color: #0000ff;
    color: #fff;
}

#map {
    grid-area: map;
    display: flex;
    background-color: #ff0000;
    color: #fff;
}
